{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Sign In</h2>
    <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="input-field" required>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-field" required>
        </div>

        <button type="submit" class="button">Sign In</button>
    </form>
    <div class="form-footer">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
    </div>
</div>
{% endblock %}
